.user-card {
  position: relative;
  border-radius: var(--border-radius-medium);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  width: 16rem;
  height: 28rem;
  background-color: var(--background-light);
  img {
    width: 100%;
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
  }
  div {
    padding: 1rem;
    p {
      height: 3.6rem;
      overflow: scroll;
    }
    small {
      position: absolute;
      bottom: 1rem;
    }
  }
}
:has(.user-card:hover) > .user-card:not(:hover) {
  transform: scale(0.9);
  opacity: 0.8;
}
.user-card:hover {
  transform: scale(1.1);
  opacity: 1;
  z-index: 10;
  border: none;
}

.user-card {
  transition:
    transform 0.7s ease,
    opacity 0.7s ease;
}
