.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-image: url(../../assets/images/abstract-yellow-greeting-wall-texture.jpg);
  background-size: cover;
  border-radius: var(--border-radius-small);
  .button-close {
    border: none;
    background-color: transparent;
    margin: 0.5rem 0 0 97%;
    cursor: pointer;
  }
  h2 {
    text-align: center;
  }
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-light);
}
